.image_tab_images {
  float: left;
/*   border: 1px solid black; */
/*   margin-right: 2px; */
  width: 49%;
/*   overflow: hidden; */
/*   text-align: center; */
}

.image_tab_images img {
  border: 1px solid black;
}

.image_tab_upper {
}

.image_tab_lower {
  position: relative;
  clear: left;
  margin-top: 20px;
  padding: 2px;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
  height: 100px;
  width: 100%;
}

.image_tab_thumbnails {
  position: relative;
  overflow: hidden;
/*   z-index: -10; */
/*   width: 100%; */
/*   width: 100%; */
/*   width: 600px; */
}

.image_tab_scroller_controls {
  padding: 0 32px;
}

.image_tab_scroll_left {
  float: left;
  width: 32px;
  height: 32px;
  background: transparent url(images/button-left.png) top left no-repeat;
}

.image_tab_scroll_left a {
  text-indent: -5000px;
  height: 32px;
  display: block;
  background: transparent url(images/button-left.png) -32px 0 no-repeat;
}

.image_tab_scroll_left a:hover {
  background-image: none;
}

.image_tab_scroll_right {
  float: right;
  width: 32px;
  height: 32px;
  background: transparent url(images/button-right.png) top left no-repeat;
}

.image_tab_scroll_right a {
  text-indent: -5000px;
  height: 32px;
  display: block;
  background: transparent url(images/button-right.png) -32px 0 no-repeat;
}

.image_tab_scroll_right a:hover {
  background-image: none;
}

/* drop shadows */

.image_tab_shadow_wrap_1, .image_tab_shadow_wrap_2, .image_tab_shadow_wrap_3 {
  display:inline-table;
  /* \*/display:block;/**/
  }
.image_tab_shadow_wrap_1 {
  float:left;
  background:url(images/shadow.gif) right bottom no-repeat;
  }
.image_tab_shadow_wrap_2 {
  background:url(images/corner_bl.gif) -12px 100% no-repeat;;
  }
.image_tab_shadow_wrap_3 {
  padding:0 9px 9px 0;
  background:url(images/corner_tr.gif) 100% -12px no-repeat;;
  }
.image_tab_shadow_wrap_3 img {
  display:block;
  }
.image_tab_shadow_wrap_3 a {
  display: block;
}

/* editing */

.image_tab_edit_cell {
  float: left;
  margin: 2px;
  padding: 2px;
  _margin: 1px;
  _padding: 1px;
  border: 1px solid black;
}

.image_tab_thumbnail {
  float: left;
  margin: 7px;
  _margin: 6px;
  padding: 6px;
  border: 1px solid black;
}

.image_tab_clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.image_tab_clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .image_tab_clearfix {height: 1%;}
.image_tab_clearfix {display: block;}
/* End hide from IE-mac */



